<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="gavel-icon.png" alt="Icono de balanza" width="50" height="50" class="mr-2">
        <h2 class="ml-1">Departamento de Educación</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        El Juzgado de Policía Local es una unidad que depende administrativamente de la municipalidad y técnicamente del poder judicial a través de la Corte de Apelaciones correspondiente, en conformidad a las normas de la Ley Nº15.231.
        <br><br>
        El Juzgado de Policía Local tiene por objeto administrar justicia en la comuna de acuerdo a la competencia que le fije la ley.
        <br><br>
        
        El Juzgado de Policía Local tiene a cargo las siguientes funciones:
        <br><br>
        
        1) Administrar Justicia dentro del Territorio Jurisdiccional en las materias que la ley le ha encomendado.
        <br><br>
        
        2)Conocer los siguientes asuntos:
        <br><br>
        
        a. Las infracciones a los preceptos que reglamentan el tránsito y transporte público.
        <br><br>

        b. Las infracciones a las ordenanzas, reglamentos y decretos alcaldicios.
        <br><br>
        
        3) Las infracciones a las leyes especiales tales como la de rentas municipales, ley general de urbanismo y construcciones y ordenanza respectiva, ley de calificación cinematográfica, pavimentación, alcoholes, pesca y caza, vigilantes privados.
        <br><br>
        
        4) Las infracciones a las leyes tales como: Ley Orgánica Constitucional Nª18.700 sobre votaciones y escrutinios, Ley Nº19.303, sobre Seguridad Ciudadana, Ley Nº 19.496 sobre protección de los derechos del consumidor, Ley Nº 19.537 sobre propiedad inmobiliaria, entre otras.
        <br><br>
        
        5)Otras que le encomiende la ley.
        <br><br>

    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Juzgado Policía Local<br>
            e-mail: <a href="mailto:  juzgado&#64;hualane.cl">  juzgado&#64;hualane.cl</a><br>
            teléfono: +56 752 600184
        </p>
    </div>    
</div>
