<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="mano-de-obra.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-2">Dirección de Obras</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        En términos generales, la Dirección de Obras Municipales debe velar por el cumplimiento de las disposiciones de la Ley General de Urbanismo y Construcciones, del Plan Regulador Comunal y de las Ordenanzas correspondientes. Fiscalizar las obras en uso, aplicar normas ambientales relacionadas con obras de construcción y urbanización, dirigir las construcciones que sean de responsabilidad municipal y atender las consultas de carácter técnico que efectúen los contribuyentes.Además, es deber de esta dirección, participar en el proceso del llamado a propuesta pública o privada, para la ejecución y/o estudios de proyectos y obras de responsabilidad municipal, supervisando los aspectos técnicos-legales que imperan sobre la materia.

        Finalmente, debe confeccionar  y mantener actualizado el catastro de las obras de urbanización y edificación realizadas en la comuna, inspeccionar e informar sobre denuncias y constancias presentadas por los contribuyentes que sean relativas a obras de edificación y mantener al día el archivo de expedientes de edificación, loteos y urbanización de la dirección de obras, junto con velar por la mantención y buen manejo de la documentación archivada.
        <br><br>
        <b>Encargado de Mantención de Áreas Verdes y Aseo</b>
        <br>
        
        Este cargo depende directamente de la Dirección de Obras y sus principales funciones son fiscalizar el cumplimiento de los servicios de recolección de basura domiciliaria, retirar de la vía publica los restos de podas, escombros y micro basurales, efectuar las tareas de aseo de vías públicas y la mantención de plazas, jardines, parques y otras áreas verdes de la comuna.
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Antonio Campos Peñaloza<br>
            Director de Obras Municipales<br>
            e-mail: <a href="mailto: dom&#64;hualane.cl"> dom&#64;hualane.cl</a><br>
            e-mail: <a href="mailto: antonio.campos&#64;hualane.cl"> antonio.campos&#64;hualane.cl</a><br>
            teléfono: +56 752600169    Director<br>
            +56 752600167    Secretaria
        </p>
    </div>    
</div>
