<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="comunitar.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-2">Organizaciones Comunitarias</h2>
    </div>

    <div class="container mt-5">
        <!-- Texto explicativo -->
        <p class="text-justify mt-3">
            En esta oficina están inserto 3 programas:
        </p>
        <ul>
            <li>2.1 Subsidio de agua potable urbano y rural</li>
            <li>2.2 Organizaciones comunitarias funcionales y territoriales</li>
            <li>2.3 Programa adulto mayor</li>
        </ul>
    
        <ul class="text-justify">
            <li>a) Atención de público que soliciten beneficio de agua potable ya sea urbano o rural ya sea postulaciones o renovaciones.</li>
            <li>b) Apoyo a las organizaciones funcionales y territoriales y adultos mayores ya sea proyectos, fotocopias, cotizaciones, confección de documentos de cualquier índole, ya sea solicitud de certificado de vigencia, confección de documentos para ser entrega de correspondencia en oficina de partes.</li>
            <li>c) Control de permisos para realizar actividades.</li>
            <li>d) Participación en reuniones mensuales de la unión comunal de juntas de vecinos y de adultos mayores.</li>
            <li>e) Participación en terreno de reuniones de juntas de vecinos, clubes deportivos, grupos habitacionales.</li>
            <li>f) Ministro de fe en constitución de organizaciones de acuerdo a la ley nº 19.418.</li>
        </ul>
    
        <p class="text-justify mt-3">
            Además, en esta oficina la Secretaria cumple las siguientes funciones:
        </p>
    
        <ul class="text-justify">
            <li>a) Encargada de la ley nº 20.285 ley de acceso a la transparencia.</li>
            <li>b) Encargada de la central de radio.</li>
            <li>c) Secretaria de emergencia de la municipalidad.</li>
            <li>d) Encargada suplente en la venta de bonos de FONASA.</li>
            <li>e) Apoyo en tesorería cuando se requiere.</li>
        </ul>
    </div>
    
     

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Carmen G. Abarca Baeza<br>
            Asistente Social Alcaldía<br>
            e-mail: <a href="mailto: carmen.abarca&#64;hualane.cl">carmen.abarca&#64;hualane.cl</a><br>
            teléfono: +56 752600156
        </p>
    </div>    
</div>
