<header class="header-container">
    <div class="logo-container">
      <img src="logohualane.png" alt="Logo Hualane" class="logo">
    </div>
    <nav class="nav-container">
      <a routerLink="/" class="nav-button">Inicio</a>
      <nav class="nav-container">
        <div class="nav-button dropdown">
          Municipalidad de Hualañé
          <div class="dropdown-content">
            <div class="dropdown-item">
                <a href="#">Concejo Municipal</a>
            </div>
            <div class="dropdown-item">
              <a href="#">Administrador Municipal</a>
              <div class="submenu">
                <a href="#">Relaciones Publicas y Comunicaciones</a>
                <a href="#">Unidad de Medio Ambiente</a>
              </div>
            </div>

            <div class="dropdown-item">
              <a href="#">Secretaria Municipal</a>
            </div>
            <div class="dropdown-item">
              <a href="#">Asesor Juridico</a>
            </div>
          </div>
        </div>
      </nav>
      <nav class="nav-container">
        <div class="nav-button dropdown">
          Direcciones y Departamentos
          <div class="dropdown-content">
            <div class="dropdown-item">
              <a href="#">DIDECO</a>
              <!-- Submenú que aparece al pasar el mouse sobre DIDECO -->
              <div class="submenu">
                <a href="#">Oficina Del Deporte</a>
                <a href="#">Registro Social de Hogares</a>
                <a href="#">Programa Familia</a>
                <a href="#">O.M.D.E.L.</a>
                <a href="#">O.M.I.L.</a>
                <a href="#">Organizaciones Comunitarias</a>
                <a href="#">EGIS (VIVIENDA)</a>
                <a href="#">Subsidio de Agua Potable</a>
                <a href="#">Subsidio Único Familiar</a>
                <a href="#">Prodesal</a>
              </div>
            </div>
            <div class="dropdown-item">
              <a href="#">Dirección de Tránsito</a>
            </div>
            <div class="dropdown-item">
              <a href="#">Dirección de Administración y Finanzas</a>
            </div>
            <div class="dropdown-item">
              <a href="#">Seguridad Pública</a>
            </div>
            <div class="dropdown-item">
              <a href="#">SECPLAC</a>
            </div>
            <div class="dropdown-item">
                <a href="#">Dirección de Control Interno</a>
            </div>
            <div class="dropdown-item">
                <a href="#">Dirección de Obras</a>
            </div>
            <div class="dropdown-item">
                <a href="#">Departamento de Salud</a>
            </div>
            <div class="dropdown-item">
                <a href="#">Departamento de Educación</a>
            </div>
            <div class="dropdown-item">
                <a href="#">Juzgado de Policia Local</a>
            </div>
          </div>
        </div>
      </nav>
          
      <a href="#" class="nav-button">Transparencia</a>
    </nav>
</header>