<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="familia.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-2">Programa Familia</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        <b>Programa Familias</b>, que forma parte del Subsistema Seguridades y Oportunidades, consiste en un proceso de acompañamiento integral a familias en situación de extrema pobreza y vulnerabilidad social para favorecer su inclusión social y el ejercicio de sus derechos. Para ello, durante 24 meses, las familias son apoyadas por profesionales que realizan sesiones de trabajo periódicas, en diferentes niveles: individual, familiar, grupal y comunitario.

        El Programa Familias tiene dos modalidades de acompañamiento: psicosocial y sociolaboral; ambas, buscan fortalecer habilidades y desarrollar competencias de los integrantes de la familia, para que puedan alcanzar mayores estados de bienestar. Para ello, se construyen y acompañan planes de trabajo personalizados, en distintas dimensiones de la vida: Trabajo y Seguridad Social, Vivienda y Entorno, Ingresos, Salud y Educación.
        
        Las familias participantes del Programa son elegidas en base al Registro Social de Hogares y a la cobertura anual de familias autorizadas por el Ministerio de Desarrollo Social, en cada comuna. En este marco, no existen procesos de postulación al Programa.
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Ramiro Cordero Núñez<br>
            Jefe de Unidad de Intervención Familiar<br>
            e-mail: <a href="mailto: ramiro.cordero&#64;hualane.cl">ramiro.cordero&#64;hualane.cl</a><br>
            teléfono: +56 752600164
        </p>
    </div>    
</div>
