<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="secplac.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-2">SECPLAC</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        Secretaría de Planificación Comunal (SECPLAC) tiene por objeto cumplir funciones de asesoría del Alcalde y del Consejo en  criterios de estudios y evaluación, propias de las competencias de ambos órganos municipales.

        Misión
        
        Poder concebir los ambientes necesarios para lograr este desarrollo en ámbitos como lo social, turístico, educacional, salud, cultura, económico y deportivo, entre otros. Para esto se necesita de la participación de la comunidad, como del compromiso de las autoridades comunales, para hacer realidad estos puntos, mejorando la vida de aquellos que más lo necesitan. Para esto es necesario que cada uno conozca su rol, a modo de ser capaz de afrontar las necesidades que la comuna de Hualañé tiene y que debemos ser capaces de solucionar, afrontando los desafíos de un futuro próspero, con miras a la modernización y con la mantención de nuestras raíces.
        
        Visión
        
        Estructurar una comuna que mire el futuro con mejores expectativas de vida, haciendo de nuestra cuidad y sectores rurales lugares más modernos y amables, que inviten a la comunidad y ser parte de esta tierra, como a nuestras visitas a conocernos, presentándonos como una comunidad y sociedad respetuosa a nuestras riquezas.
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Jonathan Valdivia Bravo<br>
            Director Secretaría Planificación Comunal<br>
            e-mail: <a href="mailto: secplac&#64;hualane.cl"> secplac&#64;hualane.cl</a><br>
            teléfono: <br>
            +56 752600162    Director<br>
            +56 752600163    Secretaria
        </p>
    </div>    
</div>
