<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="seguridad-publica.png" alt="Icono de finanzas" width="70" height="70" class="mr-2">
        <h2 class="ml-2">Seguridad Pública</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        Nuestra misión es coordinar acciones para la prevención y mitigación de situaciones de riesgo para todos los y las habitantes de la comuna de Hualañé, específicamente en la prevención de los delitos, 
        catástrofes y el consumo problemático de alcohol y otras drogas.
    </p>
    
    <ul class="custom-list text-left">
        <li>Roberto Herrera Director Seguridad Pública</li>
        <li>Valeska Gonzalez Apoyo Administrativo</li>
        <li>Marcelo Valdivia Encargado de Emergencias</li>
        <li>Maria Jose Pierola Coordinadora SENDA
        <li>Camila Vidal Profesional SENDA</li>
    </ul>
     
</div>
