<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="deporte.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-2">Oficina Del Deporte</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        Tiene por función, asesorar a los clubes deportivos, instituciones y organizaciones comunitarias en
         la formulación y postulación a fondos concursables en temas deportivos. Por otra parte, debe organizar
          y promover actividades recreativas y deportivas para la comunidad.
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Walter Cordero Morales<br>
            Encargado de Deportes<br>
            e-mail: <a href="mailto: coodeportes.hualane&#64;gmail.com"> coodeportes.hualane&#64;gmail.com</a><br>
            teléfono: +569 66870160
        </p>
    </div>    
</div>
