<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="medioAmbiente.png" alt="medio ambiente" width="100" height="100" class="mr-2">
        <h2 class="ml-2">Unidad de Medio Ambiente</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        Administrar los proyectos y programas medioambientales de la comuna, liderar iniciativas relacionadas con la adaptabilidad y mitigación al cambio climático, abordando a nivel local los desafíos ambientales que enfrenta el país, mediante el desarrollo de actividades relacionadas con la educación ambiental y protección de los recursos naturales de la comuna mediante el desarrollo de programas orientados a evitar condiciones ambientales adversas.
        Esta unidad tiene entre otras funciones, los aspectos de fiscalización, estudios, desarrollo y ejecución de programas y proyectos; así como también en materias ambientales específicas como evaluación de impacto ambiental (Declaraciones de Impacto Ambiental y Estudios de Impacto Ambiental), ordenamiento territorial (Plan de Desarrollo Comunal y Plan Regulador Comunal), y en especifico se pueden mencionar las siguientes:
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5 mb-5">
        <img ngSrc="reciclapapel.png" alt="recicla papel" width="350" height="350" class="mr-2">
    </div>    
</div>
