<div class="container mt-5">
    <!-- Sección de "Sobre Nosotros" -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <!-- Imagen representativa -->
            <img ngSrc="municipalidad.jpg" alt="Municipalidad de Hualañé" class="img-fluid rounded shadow-lg mb-5" width="900" height="900">
        </div>
        <div class="col-md-6">
            <!-- Título y descripción -->
            <h2 class="mb-4">Sobre Nosotros</h2>
            <p class="text-justify">
                La Municipalidad de Hualañé es una institución dedicada a la gestión y desarrollo de la comuna, situada en la región del Maule, Chile. Con un fuerte compromiso hacia la comunidad, la municipalidad trabaja día a día para mejorar la calidad de vida de sus habitantes a través de servicios públicos eficientes, proyectos de infraestructura y políticas sociales que promueven el bienestar colectivo.
                <br><br>
                Hualañé es una comuna que se destaca por su tradición agrícola, con una población cálida y comprometida con el desarrollo de su territorio. Desde la municipalidad, se llevan a cabo programas que apoyan el crecimiento económico, cultural y turístico de la zona, impulsando el progreso sostenible y el respeto por el medio ambiente.
                <br><br>
                La Municipalidad de Hualañé se esfuerza en proporcionar servicios de calidad, apoyando el emprendimiento local y ofreciendo oportunidades de crecimiento para todas las generaciones, con una visión inclusiva y participativa.
            </p>
        </div>
    </div>
</div>
