<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="omli.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-1">O.M.I.L.</h2>
    </div>

    <div class="container mt-5 text-center">
        <!-- Texto explicativo -->
        <p class="text-justify mt-3">
            Es la encargada de diseñar y ejecutar acciones tendientes a aumentar las posibilidades de inserción laboral, mediante la integración de servicios de información, capacitación, orientación computacional y gestión de empleo. Su misión es otorgar orientación e información respecto del mercado laboral, siendo una red de apoyo en la búsqueda e inserción y reinserción laboral.
        </p>
    
        <h5 class="mt-4">Requisitos para Inscribirse en la OMIL</h5>
        
        <ul class="text-left">
            <li>Certificado de Residencia</li>
            <li>Cédula Nacional de Identidad</li>
            <li>Currículum Vital (opcional)</li>
        </ul>
        
        <p class="text-justify mt-3">
            Entrega a la comunidad los siguientes servicios:
        </p>
    
        <p class="text-justify mt-3">
            <strong>Orientación Laboral:</strong> apoyar a los usuarios en la toma de decisiones en relación a su situación ocupacional, informa sobre el mercado laboral, los requisitos y las características de las ocupaciones adecuadas a su perfil y orienta en la búsqueda de empleo o capacitación.
        </p>
    
        <p class="text-justify mt-3">
            <strong>Relación con las Empresas:</strong> crear y mantener un canal eficiente de comunicación entre la OMIL y las fuentes de empleo con el propósito de aumentar las oportunidades laborales disponibles.
        </p>
    
        <p class="text-justify mt-3">
            <strong>Capacitación:</strong> canalizar la oferta de cursos disponibles en el mercado, las potencialidades, necesidades e intereses de las personas que requieren elevar su nivel de calificación para acceder a empleos productivos y de calidad.
        </p>
    
        <p class="text-justify mt-3">
            La oferta de programas de capacitación está enfocada a que los usuarios puedan mejorar sus competencias laborales optando a las capacitaciones impartidas por la Municipalidad o el Sence.
        </p>
    
        <p class="text-justify mt-3">
            <strong>Programa Nacional de Becas Sence:</strong> los cursos están dirigidos a los vecinos que requieran de capacitación y demuestren tener aptitudes necesarias. Se postula una vez al año durante los meses de febrero y marzo.
        </p>
    
        <p class="text-justify mt-3">
            <strong>Talleres de Apresto Laboral:</strong> están enfocados a desarrollar habilidades, destrezas y competencias de empleabilidad como comunicación, iniciativa y emprendimiento, efectividad personal, planificación y gestión de proyectos, trabajo en equipo, resolución de problemas y uso de tecnologías.
        </p>
    </div>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Cristian Quezada Fuenzalida<br>
            Encargado de OMIL y OMDEL<br>
            e-mail: <a href="mailto: omil&#64;hualane.cl">omil&#64;hualane.cl</a><br>
            teléfono: +56 752600177
        </p>
    </div>    
</div>
