.text-justify {
    text-align: justify;
}

a {
    color: inherit; /* Mantener el color original del texto */
    text-decoration: none; /* Eliminar el subrayado */
}

a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

.mt-5 {
    margin-top: 3rem;
}

.container {
    max-width: 650px; /* Ancho del contenido */
    font-family: 'Arial', sans-serif;
}

h2, h4 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 20px; /* Espacio entre el título y el texto */
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.6; /* Mejorar la legibilidad del texto */
}

.contact-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-heading img {
    margin-right: 10px; /* Separación entre el icono y el texto */
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex img {
    margin-right: 10px; /* Espacio entre la imagen y el título */
}

.mr-2 {
    margin-right: 10px; /* Margen derecho */
}

.ml-2 {
    margin-left: 10px; /* Margen izquierdo */
}

ul.text-left {
    list-style-position: inside; /* Hace que el punto esté dentro del bloque de texto */
    padding-left: 0; /* Elimina el espacio a la izquierda de los elementos de la lista */
}

ul.text-left li {
    padding-left: 5px; /* Ajusta la distancia entre el punto y el texto */
    margin-bottom: 5px; /* Añade un pequeño margen inferior para separar las líneas */
}
