<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-5">
        <h2 class="ml-3">RECORRIDO EXAMEN TEÓRICO CLASE B</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-5">
        El circuito para del examen práctico Clase B, está compuesto por dos etapas: una guiada, la cual puede visualizar en la imagen, y otra libre.
        El examen tendrá una duración mínima de 25 minutos, en los cuales el postulante deberá recorrer al menos un trayecto de 5 kilómetros.
        Este se estructurará en dos etapas de conducción: una primera etapa de conducción libre y otra de conducción guiada.
    </p>

    <p class="text-justify mt-4">
        <strong>Conducción libre:</strong> Aquella que realiza el postulante de forma autónoma sin recibir instrucciones por parte del examinador, dirigiéndose a algún punto determinado en común acuerdo con el examinador municipal. Esta etapa tendrá una duración entre 10 a 15 minutos.
    </p>

    <p class="text-justify mt-4">
        <strong>Conducción guiada:</strong> El postulante seguirá las indicaciones entregadas por el examinador para dirigirse a un destino previamente establecido.
    </p>

    <!-- Imágenes del recorrido -->
    <div class="row mt-5 justify-content-center">
        <div class="col-md-8 mb-4">
            <img ngSrc="ida-regreso.jpg" alt="Ruta Roja, IDA - Ruta Verde, Regreso" class="img-fluid rounded responsive-img hover-zoom" width="550" height="550" priority>
        </div>
        <div class="col-md-8">
            <img ngSrc="Mapa-Recorrido.jpg" alt="Mapa del Recorrido" class="img-fluid rounded responsive-img hover-zoom" width="850" height="850" priority>
        </div>
    </div>
</div>
