.image-container {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
  }
  
  .responsive-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  
  @media (max-width: 768px) {
    .responsive-image {
      object-fit: contain;
    }
  }
  
  .card {
    border: none;
    width: 40%;

  }
  
  .card-img-top {
    transition: transform 0.2s ease-in-out;
    border-radius: 8px;
  }
  
  .card-img-top:hover {
    transform: scale(1.05);
  }
  
  .container {
    max-width: 100%; /* Para que ocupe todo el ancho */
    padding: 0; /* Evitar el padding predeterminado */
  }
  
  .row {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
  }
  
  .card {
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .card {
      min-width: 150px; /* Ancho ajustado para pantallas más pequeñas */
    }
  }
  
  
  