<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="secretariaMunicipal.png" alt="secretaria municipal" width="70" height="70" class="mr-2">
        <h2 class="ml-2">Secretaria Municipal</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        El cargo de secretario Municipal depende directamente del Alcalde. Su misión es la realización de las actividades de secretaría administrativa tanto del Alcalde, como del Concejo Municipal y desempeñarse como ministro de fe en todas las actuaciones municipales. Debe asistir y tomar acta de las sesiones del concejo y del concejo económico y social comunal. Debe solicitar a las diferentes direcciones municipales la información necesaria para dar respuesta  a las solicitudes realizadas por escrito o en sesión de concejo municipal, de información requerida para los concejales.
        Además debe velar por los sistemas de partes e informaciones de la Municipalidad, el registro y control de curso de la documentación que ingresa al Municipio, así como del registro y despacho de la correspondencia oficial.
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Jorge Andrés Díaz Rojas<br>
            Secretario Municipal<br>
            e-mail: <a href="mailto:jorge.diaz&#64;hualane.cl">jorge.diaz&#64;hualane.cl</a><br>
            teléfono: +56 752 600152
        </p>
    </div>    
</div>