<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="vivienda.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-2">EGIS (VIVIENDA)</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        La labor de esta oficina consiste en asesorar a los postulantes a diversos subsidios habitacionales que otorga el estado, ya sea en forma individual o grupal.
    </p>
</div>
