<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="permisocirculacion.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-2">PERMISOS DE CIRCULACIÓN</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        Paga tu Permiso de Circulación o solicita tu traslado en 
        <a href="https://hualaneonline.cl/pc/portal"><strong>https://hualaneonline.cl/pc/portal</strong></a>
    </p>

    <p class="text-justify mt-3">
        <strong>Vehículos Particulares:</strong><br>
        Automóviles, Camionetas, Furgones, Station Wagon, Motos.
        <br><br>
        <strong>Renovación:</strong> 1 de Febrero al 31 de Marzo.<br>
        <strong>Vencimiento 2º Cuota:</strong> 31 de Agosto.
    </p>

    <p class="text-justify mt-3">
        <strong>Vehículos Transporte de Pasajeros:</strong><br>
        Taxis Básicos, Taxis Colectivos, Buses, Taxibuses, Minibuses.
        <br><br>
        <strong>Renovación:</strong> 1 de Mayo al 31 de Mayo.<br>
        <strong>Vencimiento 2º Cuota:</strong> 30 de Junio.
    </p>

    <p class="text-justify mt-3">
        <strong>Vehículos de Carga:</strong><br>
        Camiones, Tractocamiones, Remolques, Semirremolque.
        <br><br>
        <strong>Renovación:</strong> 1 de Septiembre al 30 de Septiembre.
    </p>

    <p class="text-justify mt-3">
        <strong>31 de Octubre</strong><br>
        Valores
    </p>

    <p class="text-justify mt-3">
        El valor del Permiso de Circulación para los autos particulares se calcula sobre una escala progresiva junto con el avalúo fiscal publicado anualmente por el Servicio de Impuestos Internos. Para la locomoción colectiva y vehículos de carga, el valor se determina por Unidades Tributarias Mensuales, UTM.
    </p>

    <p class="text-justify mt-3">
        En el caso de los autos nuevos que solicitan Permisos de Circulación por primera vez, pagarán el impuesto proporcional por cada uno de los meses que falten para completar el año calendario.
    </p>

    <p class="text-justify mt-3">
        <strong>Requisitos para obtener el permiso de circulación:</strong>
    </p>

    <p class="text-justify mt-3">
        <strong>Vehículos Nuevos:</strong><br>
        - Se debe presentar.<br>
        - Factura de compra del vehículo.<br>
        - Solicitud de inscripción en el Registro Civil.<br>
        - Certificado de homologación expedido por la casa comercial que vendió el vehículo.<br>
        - Copia municipalidad de la póliza de seguro obligatorio.<br>
        - Para vehículos importados se requiere la declaración de ingreso que reemplaza la factura.
    </p>

    <p class="text-justify mt-3">
        <strong>Renovación:</strong><br>
        Son necesarios los siguientes documentos:<br>
        - Original del Permiso de Circulación anterior.<br>
        - Copia municipalidad de revisión técnica vigente.<br>
        - Copia municipalidad de emisión de contaminantes vigente.<br>
        - Copia municipalidad de la póliza de seguro obligatorio, vigente hasta la próxima renovación.<br>
        - Fotocopia simple del certificado de inscripción en el registro de vehículos motorizados (padrón), para cambio de propietario.
    </p>

    <p class="text-justify mt-3">
        
        <strong>Inscripción de carros de arrastre con capacidad inferior a 1.750 Kg:</strong><br>
        Los carros de arrastre con capacidad de carga inferior a 1.750 Kg. deben inscribirse en la municipalidad correspondiente al domicilio de su propietario. 
        Ésta debe efectuarse con la factura de venta. En caso de no existir por tratarse de una fabricación artesanal, se requiere de una declaración jurada notarial.
        <br><br>
        En ambos casos, los datos que deben contener estos documentos son:
    </p>

        <ul class="lista-ajustada">
            <li>Tipo de vehículo.</li>
            <li>Modelo (por ejemplo: portalancha, portamoto, portaequipaje, etc.).</li>
            <li>Año de fabricación.</li>
            <li>Nº de ejes.</li>
            <li>Nº de ruedas por eje.</li>
            <li>Capacidad de carga.</li>
        </ul>

        <p class="text-justify mt-3">
            Una vez efectuado este trámite el dueño recibirá una placa patente metálica y el certificado de inscripción en el registro municipal de carros o padrón. Con este documento se deberá solicitar el Permiso de Circulación correspondiente, presentando todos los antecedentes requeridos para un vehículo nuevo.
        </p>

    <p class="text-justify mt-3">
        En las fechas cercanas a los vencimientos se incrementan los lugares y horarios de atención, los que se informan oportunamente.
        <br><br>
        Antes de tramitar su permiso de circulación verifique el estado de MULTAS de su vehículo en la página 
        <a href="https://www.registrocivil.cl"><strong>www.registrocivil.cl</strong></a>.
        En caso de haber efectuado pagos o aclaraciones de MULTAS, presentar documentos de respaldo originales.
    </p>

    <p class="text-justify mt-3">
        Paga tu Permiso de Circulación o solicita tu traslado en 
        <a href="https://ww13.e-com.cl/Pagos/PermisoCirculacion/renovacion/ecomv3/?id=84"><strong>https://ww13.e-com.cl/Pagos/PermisoCirculacion/renovacion/ecomv3/?id=84</strong></a>
    </p>
</div>
