<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="licencia-de-conducir.png" alt="Icono de balanza" width="50" height="50" class="mr-2">
        <h3 class="ml-2">LICENCIAS DE CONDUCIR</h3>
    </div>

    <div class="container mt-5 text-justify">
        <h3><strong>TRÁMITE LICENCIA DE CONDUCIR</strong></h3>
        <p>
            Descarga la <a href="#">Ley 21.579</a> que habilita una prórroga progresiva en la renovación de las licencias de conducir.
        </p>
    
        <h4>1. Horario de atención de la Dirección de Tránsito</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Atención General</th>
                    <th>LUNES A JUEVES: 08:30 A 17:30 | VIERNES: 08:30 A 16:00 HRS.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Primera Licencia, Renovaciones, Ampliaciones</td>
                    <td>De acuerdo con la hora agendada con anterioridad</td>
                </tr>
                <tr>
                    <td>Duplicados, Cambios de Domicilio, Otros</td>
                    <td>Lunes a viernes de 9:00 a 13:30 hrs, sin reserva de hora</td>
                </tr>
                <tr>
                    <td>Entrega de Licencias</td>
                    <td>Lunes a jueves de 15:00 a 17:00 hrs. | Viernes de 9:00 a 14:00 hrs.</td>
                </tr>
            </tbody>
        </table>
    
        <h4>2. Toma de horas para Primera Licencia, Renovaciones o Ampliaciones</h4>
        <p>
            Las horas para realizar estos trámites se podrán reservar de manera presencial. Se entrega una hora por persona, con excepción de familiares directos, desde las 08:30 en la oficina de la Dirección de Tránsito ubicada en Av Libertad 90.
        </p>
    
        <h5>Fechas de apertura de agenda:</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fecha de Apertura</th>
                    <th>Mes de Atención año 2024</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>miércoles, 13 de diciembre de 2023</td>
                    <td>Enero</td>
                </tr>
                <tr>
                    <td>miércoles, 17 de enero de 2024</td>
                    <td>Febrero</td>
                </tr>
                <tr>
                    <td>miércoles, 14 de febrero de 2024</td>
                    <td>Marzo</td>
                </tr>
                <tr>
                    <td>miércoles, 13 de marzo de 2024</td>
                    <td>Abril</td>
                </tr>
                <tr>
                    <td>miércoles, 17 de abril de 2024</td>
                    <td>Mayo</td>
                </tr>
                <tr>
                    <td>miércoles, 15 de mayo de 2024</td>
                    <td>Junio</td>
                </tr>
            </tbody>
        </table>
    
        <h4>Requisitos Generales</h4>
        <p><strong>Otorgamiento Primera Licencia Clases B y C:</strong></p>
        <ul>
            <li>Cédula de Identidad Chilena vigente o comprobante de solicitud extendida por Registro Civil e Identificación. 18 años cumplidos.</li>
            <li>2 fotos tipo carnet en color, fondo blanco, con medidas de 40 mm. de alto por 30 mm. de ancho.</li>
            <li>Acreditación de Enseñanza Básica chilena completa o cursos superiores (descargar en <a href="#">Mineduc</a>).</li>
            <li>Comprobante de domicilio de las comunas: Hualañé, Rauco, Licantén, Vichuquén, etc. Se valida mediante:</li>
            <ul>
                <li>Certificado Hoja de Vida del Conductor.</li>
                <li>Ficha del Registro de Protección Social (RSH).</li>
                <li>Cuenta de Servicio de Luz o Agua.</li>
                <li>Certificado Emitido por la Junta de Vecinos de su Sector.</li>
            </ul>
        </ul>
    
        <h4>Otorgamiento o Ampliación de Licencia Clase D y E:</h4>
        <ul>
            <li>Cédula de Identidad Chilena vigente.</li>
            <li>2 fotos tipo carnet en color con fondo blanco.</li>
            <li>Saber leer y escribir.</li>
            <li>Comprobante de domicilio.</li>
            <li>Certificado Hoja de Vida del Conductor.</li>
            <li>Aprobar examen médico psicotécnico y teórico.</li>
            <li>Acreditar conocimientos prácticos de conducción.</li>
        </ul>
    
        <h4>Otorgamiento o Ampliación de Licencia Clase F:</h4>
        <ul>
            <li>Debe presentar Certificado otorgado por la institución fiscal que indique la factibilidad de entrega de dicha clase al postulante en nombre de la institución.</li>
            <li>Se eximen en este procedimiento los exámenes teórico y práctico indicados en las clases B y C.</li>
        </ul>
    
        <h4>Postulantes Extranjeros:</h4>
        <p>Además de los requisitos mencionados precedentemente para cada clase:</p>
        <ul>
            <li>Cédula de Identidad Chilena vigente y solicitud de residencia vigente al momento de hacer el trámite.</li>
            <li>Acreditación del nivel de estudios mediante documentación de equivalencia de estudios realizados en el extranjero respecto del nivel que exige la norma chilena (mínimo ser egresado de enseñanza básica).</li>
            <li>La Apostilla por sí sola no reemplaza este requisito (aplica Dictamen N° 21.151/2019 de la Contraloría General de la República).</li>
            <li>Recomendación: Si no posees tu título profesional validado y necesitas acreditar estudios para obtener licencia de conducir, solicita en MINEDUC el certificado de estudios para fines laborales. Para mayores antecedentes, visita la página <a href="http://www.mineduc.cl">www.mineduc.cl</a>.</li>
        </ul>
    
        <h4>Ampliación de Licencia o Cambio de Categoría:</h4>
        <ul>
            <li>Cédula de Identidad Chilena vigente o comprobante de solicitud extendida por Registro Civil e Identificación.</li>
            <li>Licencia de Conducir actual.</li>
            <li>Certificado de Escuela de Conductores Profesionales que acredite la rendición y aprobación del curso correspondiente a la Clase Profesional que se postula.</li>
            <li>2 fotos tipo carnet en color con fondo blanco con medidas de 40 mm. de alto por 30 mm. de ancho, con nombres y apellidos y número de su cédula de identidad.</li>
            <li>Comprobante de domicilio de las comunas: Hualañé, Rauco, Licantén, Vichuquén, Curepto, Lolol y Paredones. Se valida mediante:</li>
            <ul>
                <li>Certificado Hoja de Vida del Conductor.</li>
                <li>Ficha del Registro de Protección Social (RSH).</li>
                <li>Cuenta de Servicio de Luz o Agua.</li>
                <li>Certificado Emitido por la Junta de Vecinos de su Sector.</li>
            </ul>
            <li>Acreditar conocimientos Teóricos y Prácticos de Conducción. Además, usted debe disponer del vehículo de acuerdo con la clase que se postula. Dicho vehículo deberá cumplir con al menos la capacidad mínima de asientos o carga, que dispone la normativa según la clase que se requiere.</li>
        </ul>
    
        <h4>Renovación Licencias de Conducir Clases B, C, D, F y E:</h4>
        <ul>
            <li>Cédula de Identidad Chilena vigente o comprobante de solicitud extendida por Registro Civil e Identificación.</li>
            <li>2 fotos tipo carnet en color con fondo blanco con medidas de 40 mm. de alto por 30 mm. de ancho, con nombres y apellidos y número de su cédula de identidad.</li>
            <li>Clase F: Acreditar la continuidad y vigencia de la autorización para otorgar nuevamente la Clase F (Instituciones Fiscales) mediante la respectiva documentación oficial.</li>
            <li>Se debe aprobar exámenes médico psicotécnico y evaluar idoneidad moral.</li>
        </ul>
    
        <h4>Renovación Licencias Profesionales y No Profesionales A-1 y A-2 de la Ley 18.290:</h4>
        <ul>
            <li>Cédula de Identidad Chilena vigente o comprobante de solicitud extendida por Registro Civil e Identificación.</li>
            <li>2 fotos tipo carnet en color con fondo blanco con medidas de 40 mm. de alto por 30 mm. de ancho, con nombres y apellidos y número de su cédula de identidad.</li>
            <li>Debe aprobar exámenes médico psicotécnico y evaluar idoneidad moral.</li>
            <li>Las clases no profesionales A-1 y A-2 de la Ley 18.290 deben rendir su examen teórico de acuerdo al cuestionario indicado en <a href="http://www.conaset.cl">Conaset</a>, descargable al final de la página.</li>
        </ul>
    
        <h4>Otros a Considerar:</h4>
        <ul>
            <li>En caso de que su licencia anterior pertenezca a otro municipio, se deberá solicitar la carpeta a la comuna de origen, por lo tanto, podría demorar más el proceso de entrega de su licencia de conducir en el proceso de ampliación de clase.</li>
            <li>Si usted reprueba los exámenes, tiene un plazo de 25 días hábiles para volver a repetir. Si vuelve a repetir y no aprueba, la licencia de esa clase será denegada por 30 días. En caso de repetirse el proceso, el plazo de denegación será de 180 días.</li>
        </ul>
    
    </div>
    

    <!-- Texto de introducción a los botones -->
    <h5 class="mt-5">PARA MAYOR INFORMACION DE NUESTROS SERVICIOS</h5>

    <!-- Botones de acción -->
    <div class="row mt-3 justify-content-center">
        <div class="col-md-3 mb-4">
        <button (click)="openModalBCDE()" class="btn btn-light-green btn-lg btn-block hover-press">Clase B, C, D, E</button>
        <app-mini-modal [isVisible]="isVisibleBCDE" (close)="closeModalBCDE()"></app-mini-modal>
        </div>
        <div class="col-md-3 mb-4">
        <button (click)="openModalA()" class="btn btn-light-green btn-lg btn-block hover-press">CLASE A1, A2, A3, A4, A5</button>
        <app-modal-clases-a [isVisible]="isVisibleA" (close)="closeModalA()"></app-modal-clases-a>
        </div>
    </div>
    <!-- Botones de acción -->
    <div class="row mt-3 justify-content-center">
        <div class="col-md-3 mb-4">
            <a href="licenciasConducir" class="btn btn-light-green btn-lg btn-block hover-press">EXAMEN PRÁCTICO RECORRIDO</a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="#" class="btn btn-light-green btn-lg btn-block hover-press">CLASE A-1 Y A-2 LEY 18.290</a>
        </div>
    </div>
</div>
