<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="salud.png" alt="Icono de balanza" width="80" height="80" class="mr-2">
        <h2 class="ml-1">Departamento de Salud</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        El Departamento de Salud, tiene como objetivo principal proporcionar servicios a través de diferentes actividades y programas,
         todos ellos enmarcados dentro de la política del Ministerio de Salud, que en el ultimo tiempo ha impulsado cambios conducentes a un enfoque familiar.
         Esto, sin duda, permite mejorar los estándares de vida de la población y sumado al trabajo en red, se mejora la calidad y oportunidad en la atención de pacientes. 
         La Misión del Departamento de Salud Municipal es proporcionar a las familias el cuidado de la salud de una manera integral y eficaz, con enfoque familiar a través de las actividades y programas implementados por el Departamento.
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Víctor Gutiérrez Arellano<br>
            Director de Departamento Salud Municipal<br>
            e-mail: <a href="mailto:  victor.gutierrez&#64;hualane.cl">  victor.gutierrez&#64;hualane.cl</a><br>
            e-mail: <a href="mailto:   saludhualane&#64;gmail.com">   saludhualane&#64;gmail.com</a><br>
            teléfono: +56 752 600185
        </p>
    </div>    
</div>
