<div class="container text-center my-5">
    <h2 class="mb-4">Transparencia Activa</h2>
    <p>
      Este portal contiene información sobre el funcionamiento de nuestra institución en cumplimiento del Instructivo Presidencial Nro. 008 (04.12.2006) sobre "Transparencia Activa" de los Organismos de Gobierno.
    </p>
  
    <div class="row justify-content-center align-items-center my-4">
      <div class="col-4">
        <a href="http://www.chileatiende.cl/"><img ngSrc="chileAtiende.png" class="img-fluid chile-atiende-img" alt="Chile Atiende" width="350" height="350"></a>
      </div>
      <div class="col-4">
        <a href="http://www.chilecompra.cl/"><img ngSrc="mercadopublico.png" class="img-fluid mercado-publico-img" alt="Mercado Público" width="350" height="350"></a>
      </div>
      <div class="col-4">
        <a href="http://www.registros19862.cl/"><img ngSrc="ley19862.png" class="img-fluid ley19862-img" alt="Ley 19.862" width="350" height="350"></a>
      </div>
    </div>
  
    <div class="alert alert-secondary update-alert">
      Fecha de actualización: 12/09/2024
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3 custom-card">
          <div class="card-header">01. Actos y Documentos del Organismo Publicados en el Diario Oficial</div>
          <div class="card-body">
            <a href="https://www.hualane.cl/TA_IGTA/01_Publicaciones_Diario_Oficial/Publicaciones.pdf" class="btn custom-btn">Publicaciones</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card mb-3 custom-card">
          <div class="card-header">02. Potestades y Marco Normativo</div>
          <div class="card-body">
            <a href="https://www.hualane.cl/TA_IGTA/02_Potestades_y_Marco_Normativo/Marco_Normativo.pdf" class="btn custom-btn mb-2">Marco Normativo</a>
            <a href="https://www.hualane.cl/TA_IGTA/02_Potestades_y_Marco_Normativo/Potestades.pdf" class="btn custom-btn">Potestades, competencias, responsabilidades, funciones, atribuciones y/o tareas</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3 custom-card">
          <div class="card-header">03. Estructura orgánica y facultades, funciones y atribuciones</div>
          <div class="card-body">
            <a href="http://www.hualane.cl/TA_IGTA/03_Estructura_Organica/Facultades.pdf" class="btn custom-btn mb-2">Facultades y Funciones</a>
            <a href="http://www.hualane.cl/TA_IGTA/03_Estructura_Organica/Estructura_Organica_Transparencia_Proteccion_Datos.pdf" class="btn custom-btn">Estructura Orgánica Transparencia Protección Datos</a>
            <a href="http://www.hualane.cl/TA_IGTA/web/03_organigrama_interactivo.php" class="btn custom-btn">Organigrama</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3 custom-card">
          <div class="card-header">04. Personal y remuneraciones</div>
          <div class="card-body">
            <a href="http://www.hualane.cl/TA_IGTA/web/04_remuneraciones.php" class="btn custom-btn mb-2">Remuneraciones de Personal</a>
            <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_fecha&ig=556" class="btn custom-btn">Autoridades de elección popular u otra forma de designación</a>
            <a href="http://www.hualane.cl/TA_IGTA/web/04_escala_remuneraciones.php" class="btn custom-btn">Escala de Remuneraciones</a>
            <a href="http://www.hualane.cl/TA_IGTA/web/04_informacion_estadistica_bonificaciones.php" class="btn custom-btn">Información estadística sobre bonificaciones</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">05. Adquisiciones y contrataciones</div>
            <div class="card-body">
              <a href="http://www.mercadopublico.cl/Portal/Modules/Site/Search/AcquisitionSearchPage.aspx?TP=Invitado&IdEmpresa=MewseXAlPW0=" class="btn custom-btn">Sistema de Compras Públicas</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/05_contrataciones_bienes_inmuebles.php" class="btn custom-btn">Contrataciones relativas a Bienes Inmuebles</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/05_otras_compras_menores_3_UTM.php" class="btn custom-btn">Otras Compras (Menores a 3 UTM)</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/05_otras_compras_tratos_directos.php" class="btn custom-btn">Otras Compras (Tratos directos)</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/05_otras_compras_actas_evaluaciones.php" class="btn custom-btn">Actas de evaluación de comisiones evaluadoras</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">06. Transferencias de fondos y aportes económicos entregados</div>
            <div class="card-body">
              <a href="http://registros19862.gob.cl/institucion/69100600" class="btn custom-btn">Transferencias de Fondos Públicos</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/06_otras_transferencias.php" class="btn custom-btn">Otras Transferencias</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">07. Los actos y resoluciones que tengan efectos sobre terceros</div>
            <div class="card-body">
              <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_fecha&ig=469" class="btn custom-btn">Patentes Comerciales</a>
              <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_fecha&ig=478" class="btn custom-btn">Concursos de Personal</a>
              <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_fecha&ig=527" class="btn custom-btn">Permisos Municipales</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/07_concejos_municipales.php" class="btn custom-btn">Actas de Órganos Colegiados (Concejos Municipales)</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/07_ordenanzas_reglamentos_manuales.php" class="btn custom-btn">Ordenanzas, Reglamentos y Manuales</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">08. Trámites ante el organismo</div>
            <div class="card-body">
              <a href="http://www.chileatiende.gob.cl/" class="btn custom-btn">Trámites en Chile Atiende</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/08_tramites_ante_organo.php" class="btn custom-btn">Trámites ante el órgano</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">09. Subsidios y beneficios</div>
            <div class="card-body">
              <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_fecha&ig=430" class="btn custom-btn">Subsidios y Beneficios Propios</a>
              <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_fecha&ig=426" class="btn custom-btn">Subsidios y Beneficios como Intermediario (SAP)</a>
              <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_fecha&ig=427" class="btn custom-btn">Subsidios y Beneficios como Intermediario (FSO)</a>
              <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_fecha&ig=428" class="btn custom-btn">Subsidios y Beneficios como Intermediario (SUF)</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">10. Mecanismos de participación ciudadana</div>
            <div class="card-body">
              <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_archivo&ig=475&a=2015" class="btn custom-btn">Norma General de Participación Ciudadana</a>
              <a href="http://www.hualane.cl/TA_IGTA/10_Mecanismos_Participacion_Ciudadana/Mecanismos.pdf" class="btn custom-btn">Mecanismos de Participación Ciudadana</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/10_consejo_consultivo.php" class="btn custom-btn">Consejo Consultivo</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/10_mecanismos_participacion_ciudadana_en_ejecucion.php" class="btn custom-btn">Mecanismos de participación ciudadana en ejecución</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">11. Información presupuestaria</div>
            <div class="card-body">
              <a href="http://www.hualane.cl/TA_IGTA/web/11_balance_ejecucion_presupuestaria.php" class="btn custom-btn">Balance de Ejecución Presupuestaria</a>
              <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_fecha&ig=584" class="btn custom-btn">Gastos de Representación, Protocolo y Ceremonial</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/11_presupuesto_inicial_y_modificaciones.php" class="btn custom-btn">Presupuesto Inicial y Modificaciones</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/11_pasivos.php" class="btn custom-btn">Pasivos del Municipio</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/11_informacion_art_73.php" class="btn custom-btn">Información del presupuesto municipal</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/11_informacion_art_73.php" class="btn custom-btn">Gastos en Avisaje y Publicidad</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">12. Auditorías al ejercicio presupuestario y aclaraciones</div>
            <div class="card-body">
              <a href="http://www.hualane.cl/TA_IGTA/12_Auditorias/Auditorias.pdf" class="btn custom-btn">Auditorías</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">13. Participación en otras entidades</div>
            <div class="card-body">
              <a href="http://www.hualane.cl/TA_IGTA/13_Participacion_Entidades/Participacion.pdf" class="btn custom-btn">Vínculos Institucionales Con Otras Entidades</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">14. Antecedentes preparatorios de normas jurídicas</div>
            <div class="card-body">
              <a href="https://hualane.cl/transparencia/index.php?action=plantillas_selec_fecha&ig=563" class="btn custom-btn">Antecedentes preparatorios de normas jurídicas generales</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">Obligaciones de Publicidad y Transparencia establecidas en otras leyes</div>
            <div class="card-body">
              <a href="http://www.declaracionjurada.cl/pubsistema/patrimonio.web.publico/pu/index.html?sid=559" class="btn custom-btn">Ley N°20.880</a>
              <a href="http://www.leylobby.gob.cl/instituciones/MU104" class="btn custom-btn">Ley N°20.730</a>
              <a href="http://www.hualane.cl/TA_IGTA/web/informe_anual_subdere_art_3_ley_20922.php" class="btn custom-btn">Ley N°20.922</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="card mb-3 custom-card">
            <div class="card-header">Datos Abiertos</div>
            <div class="card-body">
              <a href="http://www.hualane.cl/TA_IGTA/web/datos_abiertos.php" class="btn custom-btn">Datos Abiertos Municipalidad Hualañé</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  