<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="gota.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-1">Subsidio de Agua Potable</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        El subsidio de agua potable es un beneficio que entrega el Estado, a través de las municipalidades, para ayudar a las familias más necesitadas del país. Consiste en el pago de una parte de su cuenta mensual de agua potable y alcantarillado, con un límite de consumo mensual de hasta 15 m³.
    </p>

    <p class="text-justify mt-3"><strong>¿Cómo obtengo el subsidio?</strong></p>
    <ol class="text-justify mt-3">
        <li>Acércate a la municipalidad de tu comuna o a nuestra oficina comercial más cercana a tu domicilio y llena el formulario “Solicitud de Subsidio”.</li>
        <li>Entrega el formulario de solicitud en tu municipalidad.</li>
        <li>La municipalidad deberá tramitar la obtención de la Ficha de Protección Social. El porcentaje de subsidio dependerá de la situación económica del grupo familiar, que es un dato recogido de la Ficha de Protección Social.</li>
    </ol>

    <p class="text-justify mt-3"><strong>¿Cuánto tiempo dura el subsidio?</strong></p>
    <p class="text-justify mt-3">Tiene una vigencia de tres años a contar de la fecha en que te fue otorgado.</p>

    <p class="text-justify mt-3"><strong>¿Cuáles son los requisitos?</strong></p>
    <p class="text-justify mt-3">Tener su cuenta de agua potable al día. Si no es así, acércate a nuestras oficinas y solicita un convenio de pago.</p>

    <p class="text-justify mt-3"><strong>¿Cuándo se pierde el subsidio?</strong></p>
    <p class="text-justify mt-3">Por el no pago de tu cuenta por más de dos meses, o si te cambias de casa, pues el subsidio de agua potable se otorga a la familia con un domicilio específico. Por fallecimiento del titular del beneficio. En los dos últimos casos, se debe dar aviso a la municipalidad para tramitar un nuevo subsidio.</p>

</div>
