<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="omle.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-1">O.M.D.E.L.</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        Es un organismo de la Municipalidad encargado de orientar, guiar y apoyar las iniciativas productivas de los emprendedores, microempresarios y de la comunidad de Hualañe. Destinada a crear escenarios atractivo, con el fin de establecer alianzas entre los distintos agentes tales como; comunales, públicos, privados y organizaciones sociales, siendo éstos los gestores relevantes de la actividad productiva del territorio comunal y claves para mejorar y elevar la calidad de vida de la población.
        <br><br>
        El propósito de la OMDEL es apoyar el desarrollo económico de la comuna, en el sector de la pequeña y microempresa, orientando, asesorando, capacitando e impulsando al sector artesanal, turismo, servicios, industria y nuevas ideas emprendedoras.
        <br><br>
        <b>OBJETIVOS:</b>
        <br><br>
        Objetivos General
        <br><br>
        Se plantea como principal objetivo y desafío promover el Desarrollo Económico de la Comuna, a través de un conjunto de acciones orientadas a los sectores Agrícola, manufactura, comercio, turismo y cultura, mediante vínculos entre las organizaciones funcionales, sociales y empresariales de la comuna.
        <br><br>
        Objetivos estratégicos
        <br><br>
        1.Gestionar y fomentar la formación de nuevos emprendimientos productivos en la comuna.<br>
        2.Solucionar problemas de capacitación, de financiamiento, trámites municipales y contactos con empresarios del rubro.<br>
        3.Enseñar como hacer y presentar un proyecto ante un organismo público o privado.<br>
        4.Participar en mesas de trabajo con Sence, Sercotec, Sernapesca, Corfo, CONAF y otros organismos públicos, para crear escenarios atractivos para el desarrollo local.<br>
        5.Promover la generación de empleo en la Comuna.<br>
        
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Cristian Quezada Fuenzalida<br>
            Encargado de OMIL y OMDEL<br>
            e-mail: <a href="mailto: omil&#64;hualane.cl">omil&#64;hualane.cl</a><br>
            teléfono: +56 752600177
        </p>
    </div>    
</div>
