<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="educacion.png" alt="Icono de balanza" width="80" height="80" class="mr-2">
        <h2 class="ml-1">Departamento de Educación</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        Este departamento administra 12 Establecimientos Educacionales. Esta unidad Municipal hace suya la misión de contribuir a que todos los niños, jóvenes y adultos tengan acceso a una educación de calidad, 
        que les permita la integración al pleno desarrollo de la comuna. Los objetivos del Departamento de Educación son ofrecer el servicio educativo en forma continua y racional de acuerdo a las normas vigentes, procurando permanentemente establecer las condiciones para mejorar la calidad de la educación que se imparte en las 
        unidades educativas que están bajo su jurisdicción y administrar los recursos humanos, materiales y financieros de tales servicios.
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Ximena Arancibia Gallardo<br>
            Directora de Educación Municipal<br>
            e-mail: <a href="mailto:  daem&#64;hualaneduca.cl">  daem&#64;hualaneduca.cl</a><br>
            teléfono: +56 752 600186
        </p>
    </div>    
</div>
