<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="asesorjuridico.png" alt="Icono de balanza" width="50" height="50" class="mr-2">
        <h2 class="ml-2">Asesor Jurídico</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        En general, su función es prestar apoyo en materias legales (asesoría jurídica) al alcalde y concejo. Informar en derecho todos los asuntos legales que las distintas unidades municipales le planteen y orientarlas periódicamente, respecto de las disposiciones legales y reglamentarias. Mantener al día los títulos de los bienes municipales.<br>
        Podrá asimismo, iniciar y asumir la defensa a requerimiento del alcalde, en todos aquellos juicios en que la municipalidad sea parte o tenga interés, pudiendo comprenderse también la asesoría o defensa de la comunidad cuando sea procedente y el Alcalde así lo determine.
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Jorge Díaz Rojas<br>
            Asesor Jurídico<br>
            e-mail: <a href="mailto:jorge.diaz&#64;hualane.cl">jorge.diaz&#64;hualane.cl</a><br>
            teléfono: +56 752 600174
        </p>
    </div>    
</div>
