<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="trafico.png" alt="Icono de balanza" width="50" height="50" class="mr-2">
        <h2 class="ml-2">Dirección de Tránsito</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        La Dirección de Tránsito es una unidad asesora y operativa que tiene por objeto servir a la comunidad en el otorgamiento de licencias de conducir, permisos de circulación, colocación y mantención de señalizaciones de tránsito,
        optimización de los recursos para la mejor utilización de las vías públicas y la seguridad de peatones, proponer las medidas conducentes a su mejoramiento y aplicar las normas de la Ley Nº 18.290, Ley de Tránsito, sus modificaciones posteriores y toda otra norma legal y reglamentaria,
        relacionadas con las materias de tránsito y transporte público. Es también una unidad resolutiva en las materias que la ley entregue exclusivamente a su competencia y decisión.
    </p>

    <!-- Imágenes -->
    <div class="row mt-4 justify-content-center">
        <div class="col-md-6">
            <img ngSrc="miembros.png" alt="Imagen del equipo" class="img-fluid rounded responsive-img hover-zoom"  width="600" height="400">
        </div>
        <div class="col-md-6">
            <img ngSrc="direcciontra.png" alt="Imagen de la oficina" class="img-fluid rounded responsive-img hover-zoom"  width="600" height="400">
        </div>
    </div>

    <!-- Texto de introducción a los botones -->
    <h5 class="mt-5">PARA MAYOR INFORMACION DE NUESTROS SERVICIOS</h5>

    <!-- Botones de acción -->
    <div class="row mt-3 justify-content-center">
        <div class="col-md-3 mb-4">
            <a href="licenciasConducir" class="btn btn-light-green btn-lg btn-block hover-press">LICENCIAS DE CONDUCIR</a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="permisoCirculacion" class="btn btn-light-green btn-lg btn-block hover-press">PERMISOS DE CIRCULACIÓN</a>
        </div>
    </div>
</div>
