<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="familiaasub.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-1">Subsidio Único Familiar</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        El Subsidio Único Familiar, fue establecido en la Ley Nº18.020 del 17.08.1981 y Nº18.611 del 24.04.1987, modificada por la ley Nº 20.203 del 03.08.2007 y su reglamento. Es un beneficio de cargo fiscal que tiene por objeto hacer extensiva la asignación familiar a todos aquellos menores de hasta 18 años que pertenezcan a familias en situación de pobreza y vulnerabilidad. 
        <br>
        <strong>El monto del Subsidio se fija anualmente por ley, el que asciende para el año 2009 a $5.765.- mensuales por cada causante.</strong>
        <br>
        El subsidio tiene una vigencia de 3 años contados desde el mes que comenzó a devengarse, sin perjuicio de la facultad que tiene el Alcalde de revisarlo en cualquier momento y extinguirlo si han dejado de cumplirse los requisitos que permiten su otorgamiento.
    </p>

    <p class="text-justify mt-3">
        <strong>PROCEDIMIENTO DE ASIGNACIÓN:</strong> 
        <br>El proceso de selección está fundado en un indicador socio-económico común para todos los postulantes, establecido a través de la Ficha de Protección Social.
        <br>A contar del mes de Septiembre 2007, las Municipalidades sólo pueden dar curso a las solicitudes de subsidio familiar en que se haya verificado que el solicitante reúne los requisitos legales y tiene un puntaje en la Ficha de Protección Social igual o inferior a 11.734 puntos.
    </p>

    <!-- Causantes Section -->
    <p class="text-justify mt-3">
        <strong>CAUSANTES:</strong>
    </p>
    <ul>
        <li>Los menores hasta 18 años de edad.</li>
        <li>Las mujeres embarazadas.</li>
        <li>Los deficientes mentales, cualquiera sea su edad, hasta 18 años.</li>
        <li>Los inválidos cualquiera sea su edad, hasta los 18 años.</li>
        <li>La madre del menor, por el que percibe el Subsidio Familiar.</li>
        <li>Los menores deficientes mentales e inválidos al ser beneficiados optan al duplo.</li>
    </ul>

    <p class="text-justify mt-3">
        <strong>REQUISITOS:</strong>
    </p>
        <ul>
            <li>El menor debe vivir a expensas del beneficiario.</li>
            <li>Participar en los programas de salud para los menores de 6 años.</li>
            <li>Tener la calidad de alumno regular para los mayores de 6 años.</li>
            <li>En el caso de la mujer embarazada, estar en el 5º mes de embarazo y presentar certificado extendido por el médico o matrona. Además, para embarazadas menores de 18 años, no deben ser causante del subsidio familiar cobrado por la madre.</li>
            <li>Ser madre de un menor por el cual se percibe el subsidio.</li>
            <li>Para los deficientes mentales e inválidos, deben contar con la aprobación del COMPIN.</li>
            <li>Contar con Ficha de Protección Social.</li>
        </ul>


    <p class="text-justify mt-3">
        <strong>EXTINCIÓN DEL BENEFICIO:</strong>
    </p>
        <ul>
            <li>Cuando se deje de cumplir con alguno de los requisitos establecidos por la ley para su otorgamiento o mantención.</li>
            <li>Por no cobro del beneficio durante seis meses continuados.</li>
            <li>Cuando el beneficiario no proporcione los antecedentes relativos al beneficio que le requiera la Municipalidad o la entidad pagadora.</li>
        </ul>


    <p class="text-justify mt-3">
        <strong>POSTULACIÓN:</strong>
        <br>Para postular, el solicitante debe concurrir al Departamento Social ubicado en Libertad Nº 90.
    </p>

</div>
