<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="registro.png" alt="Icono de balanza" width="100" height="100" class="mr-2">
        <h2 class="ml-2">Registro Social de Hogares</h2>
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        El Registro Social de Hogares es el sistema de apoyo a la selección de usuarios de prestaciones sociales. Es una gran base de datos que contiene información de los hogares, a partir de los datos administrativos que posee el Estado y los declarados por estos. La información que posee el Estado proviene de diversas instituciones como Servicio Nacional de Registro Civil, Servicio de Impuestos Internos, Superintendencia de Pensiones, Superintendencia de Salud, FONASA, Registro Escolar de Chile; entre otros.

        Todos los hogares del país pueden ser parte del Registro Social de Hogares, independiente de su condición socioeconómica.
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Paula Romero Retamal<br>
            Registro Social Hogares<br>
            e-mail: <a href="mailto: rsh&#64;hualane.cl">rsh&#64;hualane.cl</a><br>
            teléfono: +56 752600181
        </p>
    </div>    
</div>
