<div class="container mt-5 text-center">
    <!-- Ícono y Título alineados -->
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img ngSrc="prodesal.png" alt="Icono de balanza" width="250" height="100" class="mr-2">
    </div>

    <!-- Texto explicativo -->
    <p class="text-justify mt-3">
        Entre sus actividades se encuentra el velar por el ingreso y mantención de la información actualizada
         de los beneficiarios en el sistema de gestión procesal y hacer análisis de reportes que ayuden la toma de decisiones. 
         Colaborar con la buena administración y ejecución de los recursos aportados por INDAP y las entidades ejecutoras. 
         Apoyar la implementación de programas que impulse el ministerio de agricultura en beneficio a la agricultura familiar campesina. Formular proyectos demandados 
         por los usuarios de su unidad operativa, en términos de su factibilidad financiera, económica y técnica. Planificar la intervención del programa con la participación 
         de los beneficiarios, desde el diseño, aprobación de los planes de mediano plazo y anuales y hasta el seguimiento y evaluación de estos.
    </p>

    <!-- Sección de contacto -->
    <div class="mt-5">
        <h4 class="contact-heading">
            <img ngSrc="phone.png" alt="Icono teléfono" width="18" height="18" class="mr-2"> Contacto:
        </h4>
        <p>
            Paulo Arriagada Carrasco<br>
            Coordinador Comunal PRODESAL Hualañé<br>
            e-mail: <a href="mailto: paulo.arriagada&#64;hualane.cl">paulo.arriagada&#64;hualane.cl</a><br>
            teléfono: +56 752600161<br>
            +569 66895857
        </p>
    </div>    
</div>
