<footer class="container-fluid bg-light py-5">
    <div class="row text-center text-md-start">
      <div class="col-12 col-md-4 mb-4">
        <img ngSrc="escudohualane.png" alt="Logo Hualane" width="180" height="180" class="img-fluid mb-3" priority>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <h5>Mapa del Sitio</h5>
        <ul class="list-unstyled">
          <li><a href="sobreNosotros" class="text-dark">Sobre Nosotros</a></li>
          <li><a href="#" class="text-dark">Contacto</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <h5>Redes Sociales</h5>
        <a href="https://www.facebook.com/comuna.dehualane" target="_blank" class="me-2">
          <img ngSrc="facebook.png" alt="facebook logo" width="35" height="29" />
        </a>
        <a href="https://www.instagram.com/hualane_municipalidad" target="_blank">
          <img ngSrc="instagram.png" alt="instagram logo" width="32" height="25" />
        </a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <p>© 2024 Municipalidad de Hualañé - Todos los derechos reservados</p>
      </div>
    </div>
</footer>
